body{
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.63YxQUzKB0N7gryiCjW_HQHaHa&pid=Api&P=0&w=164&h=164);
}

#timer{
    font-size: 40px;
    color: rgb(172, 118, 31);
    margin-left: 30px;
}